*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter","Lexend Deca";
}
html,body{
    max-width: 100vw;
}
body{
    background-color: hsl(233, 47%, 7%);
}
div{
    max-width: 100%;
}
p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 8px;
    font-weight: 400;
}
h2{
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 8px;
    font-weight: 800;
}

/* card */
.card{
    margin: 16px 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
}
/* card image part */
.card-img{
    max-width: 100%;
    background-color: hsl(277, 64%, 61%);
    border-radius: 8px 8px 0 0;
    
}
.card-img img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    display: block;
    mix-blend-mode: multiply;
    src: url("Images/image-header-desktop.jpg");
    object-fit: cover;
}
/* card-list-part */
.card-details{
    background-color: hsl(244, 38%, 16%);
    color: #FFFFFF;
    border-radius: 0 0 8px 8px;
    padding: 8px;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom: 16px;
}
.violet-text{
    color:hsl(277, 64%, 61%);
}
.bold{
    font-weight: 800;
}

/* desktop */
@media only screen and (min-width:768px){
    .card{
        flex-direction: row;
        border-radius: 8px;
        text-align: left;
    }
    .card-img{
        order: 2;
        border-radius: 0 8px 8px 0;
        flex-basis: 50%;
    }
    .card-img img{
        border-radius: 0 8px 8px 0;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .card-details{
        order: 1;
        border-radius: 0;
        border-radius: 8px 0 0 8px;
        padding: 64px;
        flex-basis: 50%;
    }
    .stats{
        margin-top:64px;
    }
    .stats ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
